<!DOCTYPE html>
<!-- 
Name: Nehabahen Chauhan
Date: 09.13.2024
CSC 372-01

This is index.html page for my term project Milestone 1: Homepage Prototypes, 
this index page just include splash section, once you hit explor button it 
takes you to the home page. Home page inclues navbar, icons for account, cart, ect. 
it also has footer, search field, navigation control, and best selling items.
from products tab you can go to the product page. on page there are picture of items, 
prices, and brand name. 

This file includes 3 html page, index.html, home.html, and products. html.
it also include 1 css page styles.css which is in subfolder styles
it also includes 1 text which is for work sited 

UPDATE:
so in sencond milestone project i have created two html and two css files. 
details.html, detail.css, cart.html, and cart.css. 

for for go to details.html page you can click on first image "Luxury fragrance product 1" and 
it will take you to details.html page you find product detail. details page includes
price, size, description, add button and i have added two extra features "free gift with purchase"
and "Free shipping to 27406". 
one you hit the add button it will take you to cart page. Cart page includes order summary. 
cart page also includes items with quanties and price, and size of the product. it also includes
update and remove button. you can add item quantities just adding number or by increment and 
decrement buttons. at the end there is summary of order like tax and shipping value and total 
everything with tax and shipping. 
 -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>splash_page</title>
    <link rel="stylesheet" href="styles/styles.css">
    <script src="/script.js" defer></script>
</head>

<body>
    <div class="splash-container_page">
        <div class="splash-content_page">
            <h1>Luxury Fragrance</h1>
            <p>Unlock Luxury: Enjoy Our Finest Fragrances at Special Rates for a
                Limited Time. Delight in Sophistication and Maximize Your Savings!</p>
            <a href="home.html" class="start-button">Explore Now</a>
        </div>
    </div>
</body>

</html>